@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #EFEFEF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #1E2022;
}

nav {
  background-color: #EFEFEF;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  top: 0;
  padding: 0 85px;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.025);
}

nav img {
  height: 40px;
}

nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav ul {
  display: flex;
  gap: 40px;
}

nav button {
  display: none;
  background-color: transparent;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #5400CF;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav button:hover {
  color: #EFEFEF;
  background-color: #5400CF;
}

nav button#menuButton {
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 7px;
}

nav button i {
  transition: all 0.3s ease;
}

nav button i:hover {
  color: #EFEFEF;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #5400CF !important;
}

h5 {
  font-size: 20px;
}

li {
  list-style: none;
}

hr {
  margin-top: 10px;
}

.home {
  padding: 90px 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.home .left img {
  background-color: #f2e9ff;
  border-radius: 5px;
  width: 300px;
}

.home .right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.home .right h3 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 46px;
}

.home .right h3 span {
  color: #5400CF;
}

.home .right p {
  font-size: 22px;
  margin-top: 20px;
}

.home .right .home-buttons {
  margin-top: 40px;
}

.home .right button {
  color: #EFEFEF;
  background-color: #5400CF;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home .right button:hover {
  background-color: #3a0091;
}

.projects .header h3 {
  font-size: 40px;
  margin-top: 10px;
}

.about {
  background-color: #f0e9fa;
  padding: 110px 85px;
}

.about .about-me h5 span,
.skills h5 span,
.projects .header .info h5 span {
  color: #E000E0;
  font-weight: bolder;
}

.about .about-me p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 30px;
}

.about .about-me button {
  color: #EFEFEF;
  background-color: #5400CF;
  margin-top: 30px;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about .about-me button:hover {
  background-color: #3a0091;
}

.skills {
  padding: 110px 85px;
}

.skills .skills-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 30px;
  margin-bottom: 50px;
  grid-gap: 10px;
}

.skills .skills-items img {
  width: 25px;
  margin-bottom: 5px;
}

.skills .skills-items .skill {
  width: 75%;
  border-radius: 5px;
  padding: 12px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills .skills-items .skill:hover {
  border-color: #5400CF;
}

.projects .projects-items .project .info h4 {
  font-size: 18px;
}

.projects {
  background-color: #f0e9fa;
  padding: 110px 85px;
}

.projects .header {
  margin-bottom: 60px;
}

.projects .header .info-link {
  margin-top: 25px;
}

.projects .projects-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.projects .projects-items .project {
  width: 22%;
  background-color: #EFEFEF;
  border-radius: 5px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.projects .projects-items .project:hover {
  border-color: #5400CF;
}

.projects .projects-items .project img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 10px 10px;
}

.projects .projects-items .project .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 28px 28px;
}

.projects .projects-items .project .info p {
  font-size: 13px;
  line-height: 18px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.projects .projects-items .project .info .info-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.projects .projects-items .project .info a {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #5400CF;
  font-size: 14px;
}

.projects .projects-items .project .info a i {
  margin-left: 2px;
}

footer .logo {
  display: flex;
  align-items: center;
}

footer .logo img {
  width: 40px;
  height: 40px;
}

footer ul {
  display: flex;
  gap: 40px;
}

footer {
  padding: 40px 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer .social-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer .social-links img {
  width: 20px;
  height: 20px;
  transition: 0.3s ease;
}

footer .social-links img:hover[src*="iconGITHUB(black)"] {
  width: 20px;
  height: 20px;
  content: url('assets/icons/iconGITHUB\(purple\).png');
}

footer .social-links img:hover[src*="iconLINKEDIN(black)"] {
  width: 20px;
  height: 20px;
  content: url('assets/icons/iconLINKEDIN\(purple\).png');
}

@media screen and (max-width: 1200px) {
  .home .right h5 {
    font-size: 18px;
  }

  .home .right h3 {
    font-size: 36px;
  }

  .about .about-me p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
  }

  .skills .skills-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills .skills-items .skill {
    width: 75%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
  }

  .projects .projects-items {
    flex-wrap: wrap;
    gap: 30px;
  }

  .projects .projects-items .project {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 42px;
  }

  nav img {
    content: url('assets/img/logo_ft.png');
  }

  nav ul {
    display: none;
  }

  nav.open .logo {
    display: none;
  }

  nav.open ul {
    display: flex;
  }

  nav button#menuButton {
    display: flex;
  }

  .home {
    padding: 45px 85px;
    flex-direction: column-reverse;
  }

  .projects .projects-items .project {
    width: 47%;
  }
}

@media screen and (max-width: 576px) {
  nav {
    height: 60px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .home .right h5 {
    font-size: 14px;
  }

  .home .right h3 {
    font-size: 32px;
  }

  .home .right .home-buttons {
    margin: 20px 0;
  }

  .skills .skills-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects .projects-items {
    gap: 10px;
  }

  .projects .projects-items .project img {
    height: 160px;
  }

  .projects .projects-items .project .info h4 {
    font-size: 14px;
    height: 30px;
  }

  .projects .projects-items .project .info p {
    font-size: 12px;
    line-height: 16px;
  }

  .projects .projects-items .project .info .info-links a {
    font-size: 10px;
  }

  .projects .projects-items .project .info a i {
    display: none;
  }

  footer ul {
    display: none;
  }
}

/*
black: #1E2022
white: #EFEFEF
purple: #5400CF
pink: #E000E0
*/